.flex{
    display: flex;
}

.items-center{

    align-items: center;
}

.text_center{
    text-align: center;
}

.justify-between{
    justify-content: space-between;
   
}

.iconsize{
    width: 35px;
    height: 35px;
    margin: 4px;
}



.card {
    padding: 4rem;
    margin: 2rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    background: var(--pure);
    border: 1px solid rgb(5, 5, 5);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    user-select: none;
    font-weight: bolder;
  }

.delay{
    transition: 4s;
}

.orderlist{
    text-align: start;
    font-size: 12px;
    line-height: 1.5rem;
}

.imgview{
    width: 100px;
    height: 100px;
}
